---
import '../styles/global.css';
---

<nav>
    <section class="flex justify-between items-center bg-gray-800 text-white p-4">
        <a href="#">Galeria</a>
        <a href="/#/">Como hacer tu pedido</a>
        <a href="/#/">Contacto</a>
    </section>
            
</nav>

