---
import '../styles/global.css';
---

<nav>
    <section class="flex justify-around items-center  font-bold p-4  z-50 relative">
        <a href="#galeria" class="" >Galeria</a>
        <a href="/#/" class="" >Inicio</a>
        
        <a href="/Preguntas/" target="_blank" rel="noopener noreferrer" class=" p-2  font-bold  rounded-2xl">Preguntas Frecuentes</a>
    </section>
            
</nav>

